# Folder yang diabaikan (kecuali pengecualian di dalamnya)
node_modules/
session/

# Pengecualian di dalam folder session/
!session/creds.json

# File yang diabaikan
package-lock.json
participant_store.json
sessions.json
